<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BioFlask</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Bio Flask</h1>
        <h2>Powered by Flask</h2>
        <h3>Flask is a micro web framework written in Python.</h3>
        <label>Pairwise Alignment</label><br>
        <textarea id="text_area" rows="10" cols="50" placeholder="Enter DNA Sequence."></textarea><br>
        <button onclick="submit_button()">Submit</button>
        <button onclick="clear_button()">Clear</button>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    
    </body>
</html>