.outter_mode{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mode{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: start;
    padding-bottom: 5px;
    
}
#mode{
    width: 150px;
    height: auto;
    text-align-last: center;
    border-radius: 10px;
    font-weight: bold;

}

.textarea_box_container{
    background-color: aqua;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#col1{
    width: fit-content;
    height: fit-content;
    stroke: black;
    stroke-width: 5px;
    margin-bottom: 5px;
}
#col2{
    width: fit-content;
    height: fit-content;
    stroke: black;
    stroke-width: 5px;
}

