<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BioFlask</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Bio Flask</h1>
        <h2>Powered by Flask</h2>
        <h3>Written by ArabianCoconut</h3>
        <p id="instructions" style="font-weight: bold">Instructions on how to use:</p>
        <ol>
            <li>Enter Target and Query sequences;Choose example for demo and click submit</li>
            <li>To submit sequences click on submit</li>
            <li>Then an alert pop will appear confirming submission</li>
            <li>From the drop down menu click "Get Result" and then view your results</li>
            <li>Click Generate QR code to view on mobile</li>
        </ol>
        <label>Pairwise Alignment:</label><br>
        <label for="query"></label><textarea id="query" rows="10" cols="50" placeholder="Enter Query Sequence."></textarea>
        <label for="target"></label><textarea id="target" rows="10" cols="50" placeholder="Enter Target Sequence"></textarea><br>
        
        <label>Choose Options [Example, Get Result, Clear and Delete all]:</label>
        <select id="options" onchange="handle(this)">
            <option>None</option>
            <option value="example_text">Example</option>
            <option value="get_results">Get Result</option>
            <option value="clear_button">Clear</option>
            <option value="delete_file">Delete all</option>
        </select>
        <button id="submit_button" onclick="submit_button()">Submit</button>
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <p style="font-weight: bold">NOTE: Your sequences are stored on the server. Use Drop down option to delete the files.
        </p>
    
    </body>
</html>