<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BioFlask</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Bio Flask</h1>
        <h2>Powered by Flask</h2>
        <h3>Written by ArabianCoconut</h3>
        <p id="instructions" style="font-weight: bold">Instructions on how to get the result</p>
        <ol>
            <li>Enter Target and Query sequences</li>
            <li>Click Submit</li>
            <li>Then an alert pop will appear confirming submission</li>
            <li>Click on "Back" and you will redirected back to homepage</li>
            <li>Click Get Result and then view your result</li>
        </ol>
        <label>Pairwise Alignment</label><br>
        <label for="query"></label><textarea id="query" rows="10" cols="50" placeholder="Enter Query Sequence."></textarea>
        <label for="target"></label><textarea id="target" rows="10" cols="50" placeholder="Enter Target Sequence"></textarea><br>
        <button onclick="submit_button()">Submit</button>
        <button onclick="get_results()">Get Result</button>
        <button onclick="clear_button()">Clear</button>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <p style="font-weight: bold">NOTE: Your sequences are stored on the server. Use Delete button to delete them.
        </p>
    
    </body>
</html>